.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .toggle-label {
     position: relative;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     width: fit-content;
     border: 3px solid #343434;
     border-radius: 20px;
     background: #343434;
     font-weight: bold;
     color: #343434;
     cursor: pointer;
     user-select: none;
   }
   
  .toggle-label::before {
     content: '';
     position: absolute;
     width: 50%;
     height: 100%;
     left: 0%;
     border-radius: 20px;
     background: white;
     transition: all 0.3s;
   }
   
  .toggle-checkbox:checked + .toggle-label::before {
      left: 50%;
   }
  
  .toggle-label div {
     padding: 10px 20px; /* Adjust padding for better appearance */
     text-align: center;
     z-index: 1;
  }
  
  .toggle-checkbox {
     display: none;
  }
  
  .toggle-checkbox:checked + .toggle-label div:first-child {
     color: white;
     transition: color 0.3s;
  }
  
  .toggle-checkbox:checked + .toggle-label div:last-child {
     color: #343434;
     transition: color 0.3s;
  }
  
  .toggle-checkbox + .toggle-label div:first-child {
     color: #343434;
     transition: color 0.3s;
  }
  
  .toggle-checkbox + .toggle-label div:last-child {
     color: white;
     transition: color 0.3s;
  }
  