/* src/components/UserMenu.css */
.appBar {
    background-color: #fff;
    box-shadow: none;
    margin-top: 100px; /* Ensure it appears below the header */
    margin-bottom: 20px; /* Add space below the menu bar */
}

.tabs {
    background-color: #f5f5f5;
}

.tab {
    font-weight: bold;
    font-size: 0.8rem;
}

.tabSelected {
    color: #1976d2 !important; /* Change to your primary color */
}
